<!--The content below is only a placeholder and can be replaced.-->
<mat-drawer-container class="spotify-container" autosize>
  <mat-drawer #drawer class="spotify-sidenav" mode="over">
    Content
  </mat-drawer>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Spotify
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="app-content">
    <router-outlet></router-outlet>
    <app-player></app-player>
  </div>

</mat-drawer-container>
